{% assign include_in_the_box = product.metafields.custom.included_in_the_box.value %}

<style>
    .include-in-the-box {
        width: clamp(340px, 30vw, 480px);
        padding:3rem;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        border-radius: clamp(0.6rem, 1.05vw, 1.25rem);
    }
    .include-in-the-box-icon{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .include-in-the-box-icon img{
        width: 48px;
        height: 48px;
    }
</style>
<div class="include-in-the-box">
    <h3>Include in the box</h3>
    {% for item in include_in_the_box %}
        <div class="include-in-the-box-icon">
     <img src="{{ item.icon | img_url: '48x' }}" alt="{{ item.heading }}-img" width="48px" height="48px">
     </div>
    <div>{{ item.heading }}</div>
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Include in the box",
        "settings": [],
        "presets": [
            {
                "name": "Include in the box",
                "category": "Products"
            }
        ]
    }
{% endschema %}
